<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
    <div class="container">
      <h2 class="text-center text-uppercase text-white">Sobre</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-lg-6 ml-auto">
          <p class="lead">
            • 2014 - Atual - TalentFour - CDN Comunicação
            <br/>
            • 2018 Portfólio - Projeto de Apresentação Pessoal
            <br/>
            • 2012 - 2014 Desenvolvimento do projeto ERP
            <br/>
              Módulo: Estoque, Industrial.
              <br/>
          </p>
        </div>
        <div class="col-lg-6 mr-auto">
          <p class="lead">
            • Spring Boot.
            <br/>
            • Angular 6, Bootstrap, Json, Javascript , JQuery.
            <br/>
            • JBoss, Tomcat.
            <br/>
            • JPA, Hibernate.
            <br/>
            • Mysql, Postgresql e MongoDB.
            <br/>
            • Certificação OCJP (Oracle Certified JAVA Programmer).
          </p>
        </div>
      </div>
    </div>
  </section>