<!-- About Section -->
<section class="text-localizacao text-white mb-0" id="about">
    <div class="container">
        <div _ngcontent-c8="" class="row qty-elements p-2">
            <div _ngcontent-c8="" class="col p-2" *ngFor="let card of cards">
              <div _ngcontent-c8="" class="card w-100">
                <div _ngcontent-c8="" class="card-body text-center">
                  <i _ngcontent-c8="" class="{{card.icon}}" aria-hidden="true" style="color: #8B8989;padding-bottom: 20%;"></i>
                  <h5 _ngcontent-c8="" style="color:#CDC9C9 ">{{card.title}}</h5>
                  <p _ngcontent-c8="" style="color: #6c757d">{{card.texto}} </p>
                </div>
              </div>
            </div>
          </div>
    </div>
  </section>